* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #d3d3d3;
    font-family: Calibri;
}

.componentA {
    margin-top: 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid #ffdd57;
    height: 90vh;
    width: 50vw;
    background-color: #2c2c2c; 
    color: #d3d3d3; 
    flex-shrink: 1;
}

.componentB {
    gap: 20px;
    border: 4px solid #4a90e2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 40vw;
    background-color: #333; 
    color: #d3d3d3; 
    flex-shrink: 1;
}

.componentC {
    gap: 20px;
    border: 3px solid #50e3c2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 30vw;
    background-color: #3b3b3b; 
    color: #d3d3d3; 
    flex-shrink: 1;
}

.componentD {
    gap: 10px;
    border: 2px solid #ff5e57;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 20vw;
    background-color: #454545; 
    color: #d3d3d3; 
    flex-shrink: 1;
}
p {
    font-family: cursive;
}
