@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
  font-family: Calibri;
  /* display: flex;
  justify-content: center; */
  width: 100%;
  height: 100vh;
}

.input-box {
  @apply relative w-full;
}
.inputs {
  @apply w-full bg-transparent outline-none px-4 py-3 text-base rounded border border-gray-800 placeholder-transparent focus:border-none focus:ring-2 focus:ring-gray-300/70;
}
.labels {
  @apply absolute text-gray-500 text-base duration-500 
pointer-events-none
peer-placeholder-shown:text-lg peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:left-2
peer-focus:text-sm peer-focus:text-gray-300 peer-focus:-top-3 peer-focus:left-3 peer-focus:translate-y-0
peer-valid:text-sm peer-valid:text-gray-300 peer-valid:-top-3 peer-valid:left-3 peer-valid:translate-y-0
-top-2 left-3 bg-black px-2;
}
